@model Player

<h1>Player: </h1>
<ul>
    <li>Player ID: @Model.PlayerId</li>
    <li>First name: @Model.FirstName</li>
    <li>Last name: @Model.LastName</li>
    <li>Position: @Model.Position</li>
    <li>Salary: @Model.Salary</li>
</ul>